* {
    padding: 0;
    margin: 0;
    
}

div {
    border: 1px solid black;
}

button {
    width: 50px;
    background: white;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
}

#ust {
    background-color: yellowgreen;
    border: 2px solid red;
    text-align: center;

}

#orta {
    display: -webkit-box;
    margin-top: 30px;
}

#ortasol {

    border: 2px solid black;
    text-align: center;
}

#ortasag {
  
   
background-color: #8275F5;
}

#alt {
    width: 100%;
    height: 30px;
    bottom: 0;
}